<div class="margin-bottom-20 load-more-wrapper">
    <button class="load-more-btn btn btn-sm btn-lg btn-block" 
        data-page-size="<%= pageSize%>"
        data-page-index="<%= pageIndex%>"
        data-count="<%= count%>"
        data-container-selector="<%= containerSelector%>"
        data-api="<%= api%>"
        <% if (keyword) { %>data-keyword="<%= keyword%>"<% } %>
    >
        点击加载更多
    </button>
    <div class="loading text-center margin-top-10 margin-bottom-10" style="display: none;">
        <i class="fa fa-spinner fa-spin"></i> 加载中...
    </div>
    <div class="no-more text-center margin-top-10 margin-bottom-10 text-muted" style="display: none;">
        没有更多了
    </div>
</div>

<script>
(function() {
    var PAGE_SIZE = <%= pageSize%>
    var PAGE_INDEX =  <%= pageIndex%>
    var COUNT =  <%= count%>
    var $btnLoadMore = $('#btn-load-more')
    var $containerWeiboList = $('<%= containerSelector%>')
    var api = '<%= api%>'
    var keyword = '<%= keyword || '' %>'

    // 加载更多
    $btnLoadMore.click(function () {
        var nextPageIndex = PAGE_INDEX + 1
        var url = api + '/' + nextPageIndex
        if (keyword) {
            url += '?keyword=' + encodeURIComponent(keyword)
        }
        ajax.get(url, function(err, data) {
            if (err) {
                // 失败
                alert(err)
                return
            }
            // 更新 pageIndex
            PAGE_INDEX = data.pageIndex

            // 是否要隐藏“加载更多”
            if ((PAGE_INDEX + 1) * PAGE_SIZE >= COUNT) {
                $btnLoadMore.hide()
            }

            // 渲染页面
            var $tempContainer = $(data.blogListTpl)
            $tempContainer.each(function (index, item) {
                if (item.nodeType !== 1) {
                    // 不是 DOM 元素，是其他（如 #TEXT 类型）
                    return
                }
                $containerWeiboList.append($(item))
            })
        })
    })
})();
</script>
